flask==3.0.0
flask-cors==4.0.0
google-api-python-client==2.108.0
google-auth==2.25.2
transformers==4.37.2
torch==2.4.0
pillow>=10.1.0
sentence-transformers==2.2.2
python-dotenv==1.0.0
psycopg2-binary>=2.9.9
requests==2.31.0
numpy<2
huggingface_hub==0.19.4
gunicorn==21.2.0
